*{
  box-sizing: border-box;
}
html{
  background: rgb(241, 241, 241);
}
/* The sidebar menu */
.sidenav {
  height: 105%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 5px;
}

/* The navigation menu links */
.sidenav h1{
  padding: 0px 6px 10px 50px;
  font-stretch: extra-condensed;
}

.sidenav a {
  padding: 30px 6px 10px 50px;
  text-decoration: none;
  font-size: 10px;
  color: #818181;
  display: block;
}

.sidenav button {
  background-color: #f41e1e;
  border: none;
  border-radius: 24px;
  color: white;
  padding: 16px 30px;
  text-align: center;
  font-size: 16px;
  margin: 30px 35px;
  opacity: 0.7;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.sidenav button:hover {
  opacity: 1
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #000000;
}

/* Style page content */
.main {
  font-family: Georgia, serif;
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.heading{
  font-family: Georgia, serif;
  padding: 30px 6px 20px 320px;
  font-size: 60px;
  font-stretch: extra-condensed;
  word-spacing: 1px;
  line-height: 70px;
  letter-spacing: -2px;
}

.des{
  position: absolute;
  top: 65px;
  right: 90px;
  font-size: medium;
  color: #818181;
  line-height: 22px;
}
.des:hover {
  color: #0c0c0c
}
article{
  padding-left: 250px;
}

.column{
  padding: 10px;
  align-self: center;
  width: 17%;
  float: left;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

@media screen and(max-width:600px)
{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 14px;}
  .column{
    width: 100%;
    height: 200%;
    display: block;
    margin-bottom: 20px;
  }
  
  
}

.card{
  box-shadow: 10px 10px 8px 1px rgba(0,0,0,0.2);
  max-width: 150px;
  margin: center;
  background-color: white;
  text-align: center;
  border-radius: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  cursor: pointer;
}

.card img{
  align-items: center;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
}

