html{
    width: 100%;
    height: 100%;

}

html, body{
margin: 0px;
}

.button1{
    font-family: Verdana, sans-serif;
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 90px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 24px;
    cursor: pointer;

    line-height: 12px;
    width: 18px;
    font-size: 16px;
    font-family: tahoma;
    margin-top: 20px;
    margin-right: 130px;
    position:absolute;
    top:0;
    right:0;
}

.button2{
    font-family: Verdana, sans-serif;
    background-color: #6e00c9;
    border-radius: 12px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 90px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1pt;
    margin: 10px 24px;
    cursor: pointer;

    line-height: 12px;
    width: 18px;
    font-family: tahoma;
    margin-top: 20px;
    margin-right: 50px;
    position:absolute;
    top:0;
    right:0;

}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.main{
    padding-top: 50px ;
    color: rgb(35, 0, 68);
    font-size: 35px;
    font-family: Verdana, sans-serif;
    text-align: center;
}

.des{
    padding-top: 0px;
    text-align: center;
    font-size: 10px;
    font-family: Verdana, sans-serif;

}

.start{
    text-align: center;
    font-family: Verdana, sans-serif;
    background-color: #6e00c9;
    border-radius: 3px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 15px 10px 10px;
    margin-left: 570px;
    cursor: pointer;
}

.img{
    padding: 0px 0px 0px 10px;
}


.chead{
    color: rgb(35, 0, 68);
    font-size: 20px;
    font-family: Verdana, sans-serif;
    text-align: center;
    font-style: italic;
    
}

.chead p{
    padding-top: 50px;
}

.carousel-item img {
    padding: 0px 0px 0px 0px;
  }